# .env.example

# For local development (MongoDB Compass):
MONGODB_URI=mongodb://localhost:27017/diag

# For production (MongoDB Atlas):
# MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/diag?appName=<appName>