# Copy this file to .env.local and fill in your values

# Local MongoDB (MongoDB Compass / Community)
# MONGODB_URI=mongodb://localhost:27017/diag

# MongoDB Atlas (production / Vercel)
MONGODB_URI=mongodb+srv://neddieadigwu94_db_user:hilary994@ned-cluster.0rt1luw.mongodb.net/diag?appName=ned-cluster
